@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

body {
	font-family: Arial, sans-serif;
}

table {
	border-collapse: collapse;
	font-family: 'Google Sans Code', monospace;
}

th, td {
	border: 1px solid black;
	padding: 0.25em 1em;
}
