<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> PetMAC Database - {{table}} </title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<style type="text/css">
		#site-nav a[href='/table/{{table}}'] { color: var(--color-fg-text); }
		header a[href={{mode}}]              { color: var(--color-fg-text); }
	</style>
	<script type="text/javascript" src="/script.js" defer></script>
</head>
<body class="light-mode">
	<nav id="site-nav">
		<a href="/table/product"> Products </a> |
		<a href="/table/customer"> Customers </a> |
		<a href="/table/distributor"> Distributors </a> |
		<a href="/table/pet"> Pets </a>
	</nav>

	<header>
		<h1> {{table|capitalize}} Table </h1>
		<nav>
			<a href="view"> View </a> |
			<a href="edit"> Edit </a> |
			<a href="/import/{{table}}"> Import </a>
		</nav>
		<form name="filters">
			{% for col in th %}
				<label class="show-filter"> [<input name="show-{{col}}" type="checkbox" checked data-col="{{col}}"> {{col}}] </label>
			{% endfor %}
		</form>
	</header>

	<form action="/update/{{table}}" method="POST" name="edit-table" id="edit-table">
		<table>
			<thead>
				<tr>
					{% for col in th %}
						<th data-col="{{col}}"> {{col}} </th>
					{% endfor %}

					{% if mode == "edit" %}
						<th><!-- empty --></th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for row in td %}
					<tr>
						{% for col in th %}
							<td data-col="{{col}}">
								{% if mode == "edit" %}
									<input type="text" name="petmac-{{table}}-{{col}}" value="{{row[col]}}" data-col="{{col}}" data-init-value="{{row[col]}}">
								{% else %}
									{{row[col]}}
								{% endif %}
							</td>
						{% endfor %}

						{% if mode == "edit" %}
							<td> <label>[<input type="checkbox" class="delete"> Delete</label>] </td>
						{% endif %}
					</tr>
				{% endfor %}

				{% if mode == "edit" %}
					<tr>
						<td colspan="{{cols+1}}"><input type="button" id="add-record" value="+"></td>
					</tr>
				{% endif %}
			</tbody>
		</table>
		{% if mode == "edit" %}
			<input type="submit" value="Commit Changes" disabled>
		{% endif %}
	</form>
	
	<form name="vars">
		<input type="hidden" name="pk" value="{{pk}}">
		<input type="hidden" name="table" value="{{table}}">
		<input type="hidden" name="mode" value="{{mode}}">
		<input type="hidden" name="cols" value="{{cols}}">
	</form>
</body>
</html>