@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=TASA+Orbiter:wght@400..800&display=swap');

/* ----- Themes ------------------------------------------------------------ */
/* Reference: https://htmlcolorcodes.com/color-names */
body.light-mode {
	--color-bg-body: white;
	--color-bg-section: ghostwhite;
	--color-bg-th: lavender;
	--color-bg-tr-1: ghostwhite;
	--color-bg-tr-2: lavender;
	
	--color-fg-text: black;
	--color-fg-a: mediumblue;
	--color-fg-a-hover: darkviolet;

	--color-delete: lightcoral;
	--color-pk-null: lemonchiffon;
	--color-pk-dup: lightcoral;
	--color-val-modified: lightskyblue;
}

body.dark-mode {
	/* TODO */
}

/* ----- Browser Overrides ------------------------------------------------- */
body, h1, h2, h3, h4, h5, h6, p { margin: 0; }

/* ------ <body> ----------------------------------------------------------- */
body {
	background-color: var(--color-bg-body);
	font-family: "TASA Orbiter", sans-serif;
	font-size: 14pt;
	text-align: center;
}

/* ----- General Rules ----------------------------------------------------- */
a, a:visited      { color: var(--color-fg-a); }
a:hover, a:active { color: var(--color-fg-a-hover); }

label, label input { cursor: pointer; }

nav a {
	display: inline-block;
	margin-inline: 0.5em;
}

/* ----- #site-nav (at very top) ------------------------------------------- */
#site-nav {
	margin: 1.5em;
}

/* ----- Page <header> ----------------------------------------------------- */
header {
	margin: 1.5em;
}

header form {
	margin-block: 0.5em;
}

/* ----- SQL <table> ------------------------------------------------------- */
table {
	background-color: var(--color-bg-section);
	margin: auto;
	margin-bottom: 3rem;
	border-collapse: collapse;
	font-family: 'Google Sans Code', monospace;
}

thead tr                   { background-color: var(--color-bg-th); }
tbody tr:nth-of-type(odd)  { background-color: var(--color-bg-tr-1); }
tbody tr:nth-of-type(even) { background-color: var(--color-bg-tr-2); }
tbody tr.delete            { background-color: var(--color-delete); }

th, td {
	border: 1px solid black;
	padding: 0.25em 1em;
}

.hide { display: none; }

table input, #edit-table label {
	font-size: 12pt;
}

.modified { background-color: var(--color-val-modified); }
.pk-dup   { background-color: var(--color-pk-dup); }
.pk-null  { background-color: var(--color-pk-null); }

table #add-record {
	width: 100%;
	cursor: pointer;
}

table input[type=submit] {
	margin-block: 0.5em;
}
